Repository keith-gamble/upload-to-latest-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: npm run lint
        language: node
        types: [ts]
        args: [--fix]
        additional_dependencies: [eslint@^8.33.0]
        files: \.(js|jsx|ts|tsx)$
        exclude: ^__tests__/.*$
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
        args: [
          --config=.markdownlint.json
          ]

Added icon branding
  action.yml
Due: none

Added test action
  .github/workflows/test.yml
Due: none

Added build files back in
  .gitignore
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
Due: none

Corrected test token param
  .github/workflows/test.yml
Due: none

Corrected test token param
  __tests__/main.test.ts
  action.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Corrected path to workflow
  .github/workflows/test.yml
Due: none

Corrected path to workflow
  .github/workflows/test.yml
  CODEOWNERS
Due: none

Purposefully broke this
  .github/workflows/test.yml
Due: none

Corrected path to workflow
  .github/workflows/test.yml
  action.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Updated error to include stack
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Updated to use different error handling
  .github/workflows/test.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Updated to print out file size in debug
  dist/index.js
  dist/index.js.map
  src/main.ts
  tsconfig.json
Due: lint

Updated to print out file size in debug
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Removed label from asset upload url
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Replaced data with string path to file
  .prettierrc.json
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Removed token from readme
  README.md
Due: markdownlint

Changed usage example to remove tabs
  README.md
Due: markdownlint

Added write permissions to test workflow
  .github/workflows/test.yml
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: lint

Removed old lib files
  __tests__/main.test.ts
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  src/main.ts
Due: lint

Updated version to 1
  LICENSE
  package.json
Due: none

Added action on dispatch
  .github/workflows/test.yml
  dist/index.js.map
Due: none

Updated test status badge
  README.md
Due: markdownlint

Corrected license test path
  .github/workflows/test.yml
Due: none

Downgraded github actions dependency to v4
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package-lock.json
  src/main.ts
Due: lint
